html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active-nav {
  text-decoration: underline;
}


.day {
  background: #eee;
  color: black;
}

.night {
  background: #1e1e1e;
  color: #eee;
}

.night-main {
  background: #333;
}

.styled-link {
  text-decoration: underline;
}

.styled-link:hover {
  color: #ab0000;
}

.styled-section {
    margin: 20px 0;
    max-width: 700px;
}

.toc-layout {
  display: flex;
}

.wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 15px 20px;
  width: 100%;
}

#table-of-contents {
  border-radius: 4px;
  list-style: none;
  margin-left: 10px;
  max-width: 25%;
  min-width: 200px;
  position: sticky; 
  position: -webkit-sticky;
  top: 20px;
}

#table-of-contents li {
  border: 1px 2em 5px 0 solid white;
  padding: 0.5rem 0; 
}

#table-of-contents li.active > a {
  background-color: #333;
  color: white;
}

#table-of-contents li > a:hover {
  background-color: #333;
  color: white;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .day.dark-scheme {
    background: #545454;
    color: white;
  }
  .night.dark-scheme {
    background: black;
    color: #ddd;
  }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme {
    background: white;
    color: #555;
  }
  .night.light-scheme {
    background: #eee;
    color: black;
  }
}